{% extends "my_quotes/base.html" %}

{% block content %}

<<div class="row">
    {% for quote in quotes %}
    <div class="col-sm-4 mb-3 mb-sm-10">
        <div class="card text-bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">
              {{quote.quote}}                
            </h5>
            <p class="card-text">
              <span>
                Quote № {{quote.id}} by {{quote.author.fullname}}
                <a href="{% url 'my_quotes:author' quote.author.fullname %}" style="color: #bff1a9;">(about)</a>
              </span>
            </p>
            <span>
              <strong>Tags:</strong>  
              {% for tag in quote.tags %}
                <button class="btn btn-warning" href="">
                  <div style="font-size: small;">
                    <a href="{% url 'my_quotes:tag' tag %}">{{tag}}</a>
                  </div>
                </button>                
              {% endfor %}
            </span>
          </div>
          <div>
            <center>
            <a href="#" class="btn btn-light">Edit</a>
            <a href="#" class="btn btn-light">Delete</a>
            </center>
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}